@media screen and (max-width: 750px) {
  #registerAdverts {
    width: 100% !important;
  }
}
#registerAdverts h1 {
  font-size: 50px;
  text-align: center;
  margin: 30px auto 50px;
}
#registerAdverts .missing {
  border: 1px solid rgb(246, 182, 182);
  height: 50px;
}
#registerAdverts .ok {
  background-color : rgb(160, 233, 160);
  height: 50px;
}
#registerAdverts #catAnnonce label {
  width: auto;
  margin: 20px 20px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}
#registerAdverts #catAnnonce input {
  height: 25px;
  margin-top: 10px;
}
#registerAdverts {
  width: 80%;
  min-height: calc(100vh - 180px);
  margin: 0 auto;
  font-family: 'ubuntu', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* -------------------------- */
#container {
  background: darkslategray;
  width: 100%;
}
.form-style-5{
  max-width: 700px;
  padding: 10px 20px;
  background: #F4F7F8;
  margin: 0px auto;
  background: #F4F7F8;
  border-radius: 8px;
  font-family: 'ubuntu', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-style-5 fieldset{
  border: none;
}
.form-style-5 legend {
  font-size: 2em;
  padding-bottom: 30px;
  padding-top: 30px;
}
.form-style-5 label {
  display: block;
  margin-bottom: 10px;
}
.form-style-5 input,
.form-style-5 textarea,
.form-style-5 select {
  font-family: 'ubuntu', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #E8EEEF;
  color:#8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
.form-style-5 input:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
  background: rgba(255, 179, 179, 0.247);
}
.form-style-5 select{
  -webkit-appearance: menulist-button;
  height:35px;
}
.form-style-5 .number {
  background: #1ABC9C;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0px;
}
.form-style-5 button
{
  position: relative;
  display: block;
  width: 100%;
  padding: 19px 39px 18px 39px;
  border: 1px solid #16A085;
  border-width: 1px 1px 3px;
  color: #FFF;
  background: #1ABC9C;
  margin: 50px auto;
  font-size: 18px;
  text-align: center;
  font-style: normal;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 button:hover
{
  background: #109177;
}